<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./static/tablet/assets/css/sing.css"/>
    <title>Cante</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
<script>
    var socket = io();

    socket.on('render_terms', function() {
        window.location.href = '/terms';
    });
</script>
</body>
</html>
