<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./static/tablet/assets/css/tablet.css"/>
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>
<div class="container">
    <div class="music-title">
        <h1>ESCOLHA A SUA</h1>
        <h2>MÚSICA</h2>
    </div>

    <div class="songs-list">
        <ul>
            {% for music in musics %}

            <button onclick="pickSong('{{ music }}')">
                {{ music }}
            </button>

            {% endfor %}
        </ul>
    </div>
</div>

<script src="./static/tablet/assets/script/index.js"></script>
</body>
</html>
