<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./static/tablet/assets/css/terms.css"/>
    <title>Termos</title>
</head>
<body>

<div class="container">
    <div class="terms">
        <h1>TERMO DE AUTORIZAÇÃO DE USO DE IMAGEM E VOZ </h1>
        <p>1. - Pelo presente instrumento (“Termo”), o Autorizador, abaixo qualificado, autoriza a GLOBO COMUNICAÇÃO E PARTICIPAÇÕES S.A., empresa com sede na Cidade e Estado do Rio de Janeiro, na Rua Lopes Quintas, nº 303, Jardim Botânico, inscrita no CNPJ/ME sob o nº 27.865.757/0001-02, doravante denominada simplesmente “Globo”, a título gratuito, universal, em caráter total, definitivo, irrevogável e irretratável, a utilização de sua imagem e voz, captadas pela Globo ou por terceiros, na campanha publicitária produzida pela Globo, provisoriamente intitulada “Estrela da Casa”, que consiste em uma cabine com karaokê na tela do mobiliário urbano digital localizado no Rio de Janeiro, na Estação Carioca, onde o participante poderá escolher uma música para cantar na cabine de ativação da campanha publicitária do reality show da Globo “Estrela da Casa”. (“Campanha”).</p>
        <p>2. - Reconhece expressamente o Autorizador que a Globo, na qualidade de detentora dos direitos autorais patrimoniais sobre a Campanha e tendo em vista a autorização ora concedida, poderá, a seu exclusivo critério, por todo o prazo de proteção legal e/ou duração da Campanha, utilizar a Campanha contendo sua a imagem e voz livremente, bem como seus extratos, trechos ou partes, especificamente para a ativação publicitária da Campanha. </p>
        <p>2.1. - Ao aceitar este Termo, você declara e garante: (i) ser pessoa física e totalmente capaz, com idade igual ou superior a 18 (dezoito) anos, ou emancipado legalmente, conforme o Código Civil Brasileiro; (ii) ser o único titular de todos os direitos de imagem e voz que serão gravados por vídeo e, portanto, possui plenos poderes e autoridade para ceder à Globo todos os direitos contemplados neste Termo;; (iii) que o uso da imagem e voz pela Globo não viola ou não violará nenhum direito de qualquer pessoa, seja ela física ou jurídica.</p>
        <p>2.2. – Após o aceite deste Termo e participação na Campanha, o Autorizador poderá receber o vídeo em seu dispositivo móvel através da leitura de um QR code que será exibido na tela dentro da cabine e ficará ativo e válido por um período de até 02 (dois) minutos. Após este período ou imediatamente após a leitura do QR Code, este expirará e o vídeo será automaticamente deletado, não podendo ser recuperado.</p>
        <p>2.3. - As partes estabelecem que a Globo terá o direito de preferência, em igualdade de condições frente a terceiros, para adquirir os direitos para quaisquer outras ou novas modalidades de utilização não previstas neste instrumento, sobre a Campanha. Fica certo e ajustado que não se entendem por “novas modalidades” as inovações tecnológicas que venham a aprimorar ou modificar as utilizações já previstas neste Termo.</p>


        <p>3. - A presente autorização entra em vigor na data do aceite expresso ao presente Termo e assim perdurará por todo o prazo de duração da Campanha objeto deste Termo, a qual iniciará no dia 13 de agosto de 2024 e terminará no dia 19 de agosto de 2024.</p>
        <p>4. - A autorização ora concedida é feita em caráter gratuito, ficando desde já avençado que o Autorizador nada tem e nada terá a reclamar com relação à autorização ora concedida, em Juízo ou fora dele.</p>
        <p>5. - A Globo é a única e exclusiva responsável pela Campanha e pela captação temporária das imagens, nos termos previstos na Lei nº 13.709/2018 (“LGPD”), após a participação na ativação da Campanha todos os vídeos e imagens feitas do usuário extraídos serão destruídos em até 02 (dois) minutos, sendo certo que os vídeos não ficaram armazenados nos equipamentos que compõem a tela da cabine (“MUB”).</p>
        <p>6. - O Autorizador declara que não existem contratos com terceiros que conflitem com as disposições deste instrumento. Desta forma, o Autorizador deverá manter a Globo a salvo de quaisquer demandas e/ou ações judiciais por parte de terceiros, relativas à autorização neste ato concedida, se obrigando a arcar com as despesas incorridas pela Globo com a defesa judicial ou extrajudicial em tais demandas e com o valor total de qualquer indenização que a ela venha ser imposta em virtude da violação desses direitos, bem como a indenizar a Globo regressivamente, caso seja condenada ao pagamento de qualquer importância.
6.1. - A presente autorização é concedida em caráter irrevogável e irretratável, obrigando o Autorizador e seus sucessores a qualquer título.
</p>
        <p>7. - O Autorizador declara-se ciente que os dados pessoais fornecidos à Globo ou por ela coletados, incluindo informações de cadastro, serão tratados para fins de cadastramento e garantia de direitos do uso da Campanha pela Globo, seguindo os termos da Lei 13.709/2018, a Lei Geral de Proteção de Dados – “LGPD”, exceto quando este tratamento tiver fins exclusivamente artísticos e/ou jornalísticos. A Globo seguirá rígidos padrões de segurança para proteger estas informações e somente as compartilhará com outras empresas do Grupo Globo e/ou produtoras de conteúdo audiovisual por ela contratadas para fins exclusivos de produção da Campanha e/ou de outras Campanhas audiovisuais da Globo. A Globo será a controladora destes dados e o Autorizador poderá exercer os direitos previstos na LGPD, incluindo aqueles de acesso, correção e exclusão por meio do portal centraldeajuda.globo.com/meajuda.</p>
        <p>8. - O presente Termo é regido e interpretado de acordo com as leis da República Federativa do Brasil. As partes elegem o foro central da Comarca da Capital da Cidade do Rio de Janeiro – RJ como o competente para dirimir quaisquer controvérsias porventura oriundas deste Termo, com renúncia expressa a qualquer outro, por mais privilegiado que seja.</p>

    </div>

    <div class="privacy">
        <input
                type="checkbox"
                name=""
                id="privacy"
                onchange="checkPrivacy()"
                disabled
        />
        <p>
            li e aceito os termos de uso
        </p>
    </div>

    <button class="sing" disabled onclick="singSong()">Cantar!</button>
</div>
<script src="./static/tablet/assets/script/index.js"></script>
</body>
</html>
