<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/assets/css/mobile.css') }}">
    <title>Download</title>
    <script>
        function initiateDownload() {
            window.location.href = "{{ url_for('download_video', filename=filename) }}";
        }
    </script>
</head>
<body onload="initiateDownload()">
<div class="container">
    <div class="alert-info">
        <h1>Seu vídeo já está baixando.</h1>
        <h2>OBRIGADO POR PARTICIPAR!</h2>
    </div>
</div>
</body>
</html>

