<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();

            socket.on('connect', function() {
                console.log('Connected to server');
            });

            socket.on('message', function(msg) {
                console.log('Message received: ' + msg.data);
            });

            socket.on('render_html', function(data) {
                document.open();
                document.write(data.html);
                document.close();
            });

            socket.on('disconnect', function() {
                console.log('Disconnected from server');
            });
        });
    </script>
</head>
<body>
    <h1>Test Page</h1>
</body>
</html>
